workflows/2-approval-request-workflow.json
{
  "name": "Invoice Automation - 2. Approval Request (Scheduled)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "minutes", "minutesInterval": 15 } ] }
      },
      "id": "2b2b3c4d-0001-0000-0000-000000000001",
      "name": "Schedule Trigger - Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1200, 300]
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "search",
        "base": { "value": "AIRTABLE_BASE_ID", "mode": "id" },
        "table": { "value": "Invoices", "mode": "name" },
        "filterByFormula": "AND({Send for Approval} = TRUE(), {Application Status} = 'Draft')",
        "options": {}
      },
      "id": "2b2b3c4d-0002-0000-0000-000000000002",
      "name": "Airtable - Find Invoices Ready for Approval",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [-980, 300],
      "credentials": { "airtableTokenApi": { "id": "AIRTABLE_CREDENTIAL_ID", "name": "Airtable Token" } }
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "id": "2b2b3c4d-0003-0000-0000-000000000003",
      "name": "Loop Over Invoices",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-760, 300]
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "search",
        "base": { "value": "AIRTABLE_BASE_ID", "mode": "id" },
        "table": { "value": "Department Approvers", "mode": "name" },
        "filterByFormula": "=OR({{ $json['Selected Departments'].map(d => `{Department}='${d}'`).join(',') }})",
        "options": {}
      },
      "id": "2b2b3c4d-0004-0000-0000-000000000004",
      "name": "Airtable - Lookup Department Approvers",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [-540, 220],
      "credentials": { "airtableTokenApi": { "id": "AIRTABLE_CREDENTIAL_ID", "name": "Airtable Token" } }
    },
    {
      "parameters": {
        "jsCode": "// Build one approval token per invoice, embed it in the approve/reject links.\n// The webhook workflow (3-approval-response-workflow.json) validates this token.\nconst crypto = require('crypto');\nconst invoice = $node['Loop Over Invoices'].json;\nconst secret = $env.APPROVAL_LINK_SECRET || 'change-me-in-env';\nconst token = crypto.createHmac('sha256', secret).update(invoice.id).digest('hex').slice(0, 24);\nconst baseUrl = $env.N8N_PUBLIC_WEBHOOK_URL || 'https://your-n8n-instance.example.com';\nconst approveUrl = `${baseUrl}/webhook/invoice-approval?invoiceId=${invoice.id}&decision=approve&token=${token}`;\nconst rejectUrl = `${baseUrl}/webhook/invoice-approval?invoiceId=${invoice.id}&decision=reject&token=${token}`;\nreturn [{ json: { ...$json, invoice, approveUrl, rejectUrl } }];"
      },
      "id": "2b2b3c4d-0005-0000-0000-000000000005",
      "name": "Code - Build Approval Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 220]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.map(a => a['Approver Email']).join(',') }}",
        "subject": "=Invoice Approval Needed: {{ $node['Loop Over Invoices'].json['Invoice Number'] }} - {{ $node['Loop Over Invoices'].json['Vendor'] }}",
        "message": "=<p>An invoice requires your approval.</p><ul><li><b>Vendor:</b> {{ $node['Loop Over Invoices'].json['Vendor'] }}</li><li><b>Invoice #:</b> {{ $node['Loop Over Invoices'].json['Invoice Number'] }}</li><li><b>Amount:</b> {{ $node['Loop Over Invoices'].json['Gross Amount'] }} {{ $node['Loop Over Invoices'].json['Currency'] }}</li><li><b>Due Date:</b> {{ $node['Loop Over Invoices'].json['Due Date'] }}</li><li><b>Cost Center:</b> {{ $node['Loop Over Invoices'].json['Cost Center'] }}</li></ul><p><a href=\"{{ $json.approveUrl }}\">Approve</a> &nbsp;|&nbsp; <a href=\"{{ $json.rejectUrl }}\">Reject</a></p>",
        "options": { "appendAttribution": false }
      },
      "id": "2b2b3c4d-0006-0000-0000-000000000006",
      "name": "Gmail - Send Approval Request",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-100, 220],
      "credentials": { "gmailOAuth2": { "id": "GMAIL_CREDENTIAL_ID", "name": "Invoicing Inbox Gmail" } }
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "update",
        "base": { "value": "AIRTABLE_BASE_ID", "mode": "id" },
        "table": { "value": "Invoices", "mode": "name" },
        "id": "={{ $node['Loop Over Invoices'].json.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "Approval Requested At": "={{ $now.toISO() }}" }
        },
        "options": {}
      },
      "id": "2b2b3c4d-0007-0000-0000-000000000007",
      "name": "Airtable - Mark Approval Requested",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [120, 220],
      "credentials": { "airtableTokenApi": { "id": "AIRTABLE_CREDENTIAL_ID", "name": "Airtable Token" } }
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "create",
        "base": { "value": "AIRTABLE_BASE_ID", "mode": "id" },
        "table": { "value": "Audit Log", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice": "={{ [$node['Loop Over Invoices'].json.id] }}",
            "Action": "SentForApproval",
            "Actor": "System",
            "Details": "={{ 'Approval request sent to: ' + $node['Airtable - Lookup Department Approvers'].json.map(a => a['Approver Email']).join(', ') }}",
            "Timestamp": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "2b2b3c4d-0008-0000-0000-000000000008",
      "name": "Airtable - Log Approval Sent",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [340, 220],
      "credentials": { "airtableTokenApi": { "id": "AIRTABLE_CREDENTIAL_ID", "name": "Airtable Token" } }
    }
  ],
  "connections": {
    "Schedule Trigger - Every 15 Minutes": { "main": [ [ { "node": "Airtable - Find Invoices Ready for Approval", "type": "main", "index": 0 } ] ] },
    "Airtable - Find Invoices Ready for Approval": { "main": [ [ { "node": "Loop Over Invoices", "type": "main", "index": 0 } ] ] },
    "Loop Over Invoices": { "main": [ [ { "node": "Airtable - Lookup Department Approvers", "type": "main", "index": 0 } ] ] },
    "Airtable - Lookup Department Approvers": { "main": [ [ { "node": "Code - Build Approval Links", "type": "main", "index": 0 } ] ] },
    "Code - Build Approval Links": { "main": [ [ { "node": "Gmail - Send Approval Request", "type": "main", "index": 0 } ] ] },
    "Gmail - Send Approval Request": { "main": [ [ { "node": "Airtable - Mark Approval Requested", "type": "main", "index": 0 } ] ] },
    "Airtable - Mark Approval Requested": { "main": [ [ { "node": "Airtable - Log Approval Sent", "type": "main", "index": 0 } ] ] },
    "Airtable - Log Approval Sent": { "main": [ [ { "node": "Loop Over Invoices", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "meta": { "templateCredsSetupCompleted": false },
  "pinData": {}
}
