workflows/3-approval-response-workflow.json
{
  "name": "Invoice Automation - 3. Approval Response (Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "invoice-approval",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3c2b3c4d-0001-0000-0000-000000000001",
      "name": "Webhook - Approve/Reject Click",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1200, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validate the HMAC token before trusting the request - prevents anyone with a\n// guessed invoiceId from approving/rejecting invoices.\nconst crypto = require('crypto');\nconst { invoiceId, decision, token } = $json.query;\nconst secret = $env.APPROVAL_LINK_SECRET || 'change-me-in-env';\nconst expected = crypto.createHmac('sha256', secret).update(invoiceId || '').digest('hex').slice(0, 24);\nconst valid = token === expected && ['approve', 'reject'].includes(decision);\nreturn [{ json: { invoiceId, decision, valid } }];"
      },
      "id": "3c2b3c4d-0002-0000-0000-000000000002",
      "name": "Code - Validate Approval Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-980, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "token-valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "3c2b3c4d-0003-0000-0000-000000000003",
      "name": "IF - Token Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-760, 300]
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "update",
        "base": { "value": "AIRTABLE_BASE_ID", "mode": "id" },
        "table": { "value": "Invoices", "mode": "name" },
        "id": "={{ $json.invoiceId }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Application Status": "={{ $json.decision === 'approve' ? 'Fully Approved' : 'Rejected' }}",
            "Approved/Rejected At": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "3c2b3c4d-0004-0000-0000-000000000004",
      "name": "Airtable - Update Invoice Status",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [-540, 220],
      "credentials": { "airtableTokenApi": { "id": "AIRTABLE_CREDENTIAL_ID", "name": "Airtable Token" } }
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "create",
        "base": { "value": "AIRTABLE_BASE_ID", "mode": "id" },
        "table": { "value": "Audit Log", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice": "={{ [$json.invoiceId] }}",
            "Action": "={{ $json.decision === 'approve' ? 'Approved' : 'Rejected' }}",
            "Actor": "={{ $('Webhook - Approve/Reject Click').item.json.headers['x-forwarded-for'] || 'Unknown approver (see email link)' }}",
            "Details": "=Decision received via approval email link.",
            "Timestamp": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "3c2b3c4d-0005-0000-0000-000000000005",
      "name": "Airtable - Log Approval Decision",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [-320, 220],
      "credentials": { "airtableTokenApi": { "id": "AIRTABLE_CREDENTIAL_ID", "name": "Airtable Token" } }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=You have {{ $json.decision === 'approve' ? 'approved' : 'rejected' }} this invoice. Thank you.",
        "options": { "responseCode": 200 }
      },
      "id": "3c2b3c4d-0006-0000-0000-000000000006",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [-100, 220]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "This approval link is invalid or has expired. Please contact the finance team.",
        "options": { "responseCode": 403 }
      },
      "id": "3c2b3c4d-0007-0000-0000-000000000007",
      "name": "Respond - Invalid Token",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [-540, 400]
    }
  ],
  "connections": {
    "Webhook - Approve/Reject Click": { "main": [ [ { "node": "Code - Validate Approval Token", "type": "main", "index": 0 } ] ] },
    "Code - Validate Approval Token": { "main": [ [ { "node": "IF - Token Valid", "type": "main", "index": 0 } ] ] },
    "IF - Token Valid": {
      "main": [
        [ { "node": "Airtable - Update Invoice Status", "type": "main", "index": 0 } ],
        [ { "node": "Respond - Invalid Token", "type": "main", "index": 0 } ]
      ]
    },
    "Airtable - Update Invoice Status": { "main": [ [ { "node": "Airtable - Log Approval Decision", "type": "main", "index": 0 } ] ] },
    "Airtable - Log Approval Decision": { "main": [ [ { "node": "Respond - Success", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "meta": { "templateCredsSetupCompleted": false },
  "pinData": {}
}
